<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <title>申请列表</title>
</head>
<body>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">申请列表</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" th:each="merchant : ${merchantList}">
                <span th:text="${merchant.id}"></span>
                <span th:text="${merchant.merchantName}"></span>
                <span th:text="${merchant.submissionStatus}"></span>
                <span th:text="${merchant.createAt}"></span>
                <label>
                    <a class="btn btn-primary" th:if="${merchant.submissionStatus} != 'YZFSH_REJ'"
                       th:onclick="'pass(\''+${merchant.id}+'\');'" href="javascript:void(0)"
                       type="pass">通过审核</a>
                    <a class="btn btn-danger" th:if="${merchant.submissionStatus} != 'YZFSH_REJ'"
                       th:onclick="'rej(\''+${merchant.id}+'\');'" href="javascript:void(0)"
                       type="rej">不通过审核</a>
                    <a class="btn btn-success" th:if="${merchant.submissionStatus} != 'YZFSH_REJ'"
                       th:onclick="'submition(\''+${merchant.id}+'\');'"
                       href="javascript:void(0)">提交翼支付审核</a>

                    <a class="btn btn-success" th:if="${merchant.submissionStatus} eq 'YZFSH_REJ'"
                       th:onclick="'modifyBaseInfo(\''+${merchant.id}+'\');'"
                       href="javascript:void(0)">修改基础资料并且提交</a>

                    <a class="btn btn-danger" th:if="${merchant.submissionStatus} eq 'YZFSH_REJ'"
                       th:onclick="'modifyBusiQualificationInfo(\''+${merchant.id}+'\');'"
                       href="javascript:void(0)">修改资质资料并且提交</a>

                </label>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    //通过
    function pass(id) {
        statusModify(id, "JBGSH_PASS")
    }

    //不通过
    function rej(id) {
        statusModify(id, "JBGSH_REJ")
    }

    //提交翼支付审核
    function submition(id) {
        statusModify(id, "YZFSH_ING")
    }

    function statusModify(id, type) {
        if ("" == id || null == id) {
            console.log("非法ID");
            return;
        }

        $.get("updateStatus", {id: id, submissionStatus: type}, function (result) {

            console.log(result);

            if ("success" == result.resultCode) {
                alert("操作成功");
                location.reload();
            } else {
                alert(result.errorInfo.msg);
            }
        }, "json")

    }

    /**
     * 类型为基础信息
     **/
    var BASE_INFO_MODIFY = "baseInfo"

    /**
     * 类型为资质信息
     **/
    var BUSIQUALIFICATION_INFO = "busiqualificationinfo"

    /**
     * 修改基础信息
     */
    function modifyBaseInfo(merchantId) {
        modifyRute(merchantId, BASE_INFO_MODIFY);
    }

    /**
     * 修改资质信息
     */
    function modifyBusiQualificationInfo(merchantId) {
        modifyRute(merchantId, BUSIQUALIFICATION_INFO);
    }

    /**
     * 修改路由
     */
    function modifyRute(merchantId, modifyType) {
        if (merchantId && modifyType) {
            this.location.href = "update?merchantId=" + merchantId + "&modifyType=" + modifyType;
        } else {
            alert("非法参数");
        }
    }
</script>
</html>