<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/css/datetimepicker.css"
          rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        //控件本地化
        $.fn.datetimepicker.dates['zh'] = {
            days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
            daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
            daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
            months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthsShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
            meridiem: ["上午", "下午"],
            //suffix:      ["st", "nd", "rd", "th"],
            today: "今天"
        };
    </script>
    <style>
        .tc-darkgray {
            color: darkgray;
        }
    </style>
    <title>申请聚合支付-基础信息修改</title>
</head>
<body>
<div style="width:80%;margin: 0 auto;border: bisque 1px solid;border-radius:25px; margin-top:10px;">
    <div style="margin-top: 20px;margin-bottom: 15px;">
        <div style="margin: 0 auto;text-align: center;" class="tc-darkgray"><h3>申请聚合支付-基础信息修改(不需要修改的信息无需填写)</h3></div>
    </div>
    <form class="form-horizontal" role="form" id="merchant_info_form" style="margin: 0 auto" method="post"
          action="update/baseInfo"
          enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" th:value="${merchantInfo.id}"/>
        <div class="form-group">
            <label for="merchantNameShort" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="merchantName" th:value="${merchantInfo.merchantNameShort}"
                       name="merchantName"
                       placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label for="merchantNameShort" class="col-sm-2 control-label">简称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="merchantNameShort" name="merchantNameShort"
                       th:value="${merchantInfo.merchantNameShort}"
                       placeholder="请输入简称">
            </div>
        </div>
        <div class="form-group">
            <label for="businessScope" class="col-sm-2 control-label">营业范围</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="businessScope" name="businessScope"
                       th:value="${merchantInfo.businessScope}"
                       placeholder="请输入营业范围">
            </div>
            <!-- <div class="col-sm-10">
                 <select id="businessScope" name="businessScope" class="form-control">
                     <option class="tc-darkgray">&#45;&#45;请选择营业范围</option>
                 </select>
             </div>-->
        </div>


        <div class="form-group">
            <label for="businessTerm" class="col-sm-2 control-label">营业期限</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form_datetime tc-darkgray datetimepicker" readonly
                       th:value="${merchantInfo.businessTerm}"
                       id="businessTerm"
                       name="businessTerm"
                       placeholder="请选择营业期限">
            </div>
        </div>
        <div class="form-group">
            <label for="provinceCode" class="col-sm-2 control-label">选择省份</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control tc-darkgray" id="provinceCode"
                       name="provinceCode"
                       placeholder="请输入省份编码">
                <select id="_provinceCode" name="_provinceCode" class="form-control tc-darkgray">
                    <option>请选择省份</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="cityCode" class="col-sm-2 control-label">选择城市</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control tc-darkgray" id="cityCode"
                       name="cityCode"
                       placeholder="请输入城市编码">
                <select id="_cityCode" name="_cityCode" class="form-control tc-darkgray">
                    <option>请选择城市</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="businessAddress" class="col-sm-2 control-label">营业地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="businessAddress"
                       th:value="${merchantInfo.businessAddress}"
                       name="businessAddress"
                       placeholder="请输入营业地址">
            </div>
        </div>

        <div class="form-group">
            <label for="mccCode" class="col-sm-2 control-label">行业编码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="mccCode" th:value="${merchantInfo.mccCode}"
                       name="mccCode"
                       placeholder="请输入行业编码">
            </div>
        </div>

        <div class="form-group">
            <label for="contactPhone" class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="contactPhone"
                       th:value="${merchantInfo.contactPhone}"
                       name="contactPhone"
                       placeholder="请输入手机号码">
            </div>
        </div>

        <!--<div class="form-group">
            <label for="identityCardUserName" class="col-sm-2 control-label">证件姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="identityCardUserName"
                       th:value="${merchantInfo.identityCardUserName}"
                       name="identityCardUserName"
                       placeholder="请输入证件姓名">
            </div>
        </div>

        <div class="form-group">
            <label for="identityCardNo" class="col-sm-2 control-label">证件号码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="identityCardNo"
                       th:value="${merchantInfo.identityCardNo}"
                       name="identityCardNo"
                       placeholder="请输入证件号码">
            </div>
        </div>-->

        <div class="form-group">
            <label for="busiLicenseNo" class="col-sm-2 control-label">营业执照号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="busiLicenseNo"
                       th:value="${merchantInfo.busiLicenseNo}"
                       name="busiLicenseNo"
                       placeholder="请输入营业执照号"/>
            </div>
        </div>

        <!--<div class="form-group">
            <label for="busiLicenseUserName" class="col-sm-2 control-label">执照用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="busiLicenseUserName"
                       th:value="${merchantInfo.busiLicenseUserName}"
                       name="busiLicenseUserName"
                       placeholder="请输入营业执照用户名"/>
            </div>
        </div>-->

        <!--<div class="form-group">
            <label for="licenseType" class="col-sm-2 control-label">执照类型</label>
            <div class="col-sm-10">
                <select id="licenseType" name="licenseType" class="form-control">
                    <option class="tc-darkgray" value="">&#45;&#45;请选择营业执照类型</option>
                    <option class="tc-darkgray" value="businessLicense">营业执照</option>
                    <option class="tc-darkgray" value="integrateLicense">三证合一照</option>
                </select>
            </div>
        </div>-->

        <div class="form-group">
            <label for="settleBankName" class="col-sm-2 control-label">结算银行</label>
            <div class="col-sm-10"><input type="text" class="form-control tc-darkgray" id="bank_condition_city"
                                          placeholder="结算银行信息" style="width:20%;float: left">
                <input type="hidden" class="form-control tc-darkgray" id="settleBankName"
                       name="settleBankName"
                       placeholder="请输入结算银行名称"/>
                <select class="form-control tc-darkgray" id="settleBankName_select" style="width:40%;float:left;">
                    <option value="">请选择结算银行名称</option>
                    <option value="ABC">重庆中国农业银行</option>
                    <option value="BCOM">交通银行</option>
                    <option value="BEA">东亚银行</option>
                    <option value="BGZ">贵州银行</option>
                    <option value="BJX">江西银行</option>
                    <option value="BOB">北京银行</option>
                    <option value="BOC">中国银行</option>
                    <option value="BOSH">上海银行</option>
                    <option value="BSB">包商银行</option>
                    <option value="CBHB">渤海银行</option>
                    <option value="CCB">建设银行</option>
                    <option value="CEB">光大银行</option>
                    <option value="CIB">兴业银行</option>
                    <option value="CITIC">中信银行</option>
                    <option value="CMB">招商银行</option>
                    <option value="CMBC">民生银行</option>
                    <option value="CQBK">重庆银行</option>
                    <option value="CZB">浙商银行</option>
                    <option value="EGF">恒丰银行</option>
                    <option value="GDB">广发银行</option>
                    <option value="GDNYB">广东南粤银行</option>
                    <option value="GZBC">广州银行</option>
                    <option value="HKB">汉口银行</option>
                    <option value="HSB">徽商银行</option>
                    <option value="HXB">华夏银行</option>
                    <option value="HZLHB">联合村镇银行</option>
                    <option value="ICBC">中国工商银行</option>
                    <option value="JSB">江苏银行</option>
                    <option value="NJCB">南京银行</option>
                    <option value="NONGCUN">农信社/农村合作银行/农商行</option>
                    <option value="OTHER">其他银行(都在这边了)</option>
                    <option value="PAB">平安银行</option>
                    <option value="POST">中国邮政储蓄银行</option>
                    <option value="SCCB">河北银行</option>
                    <option value="SPDB">上海浦东发展银行</option>
                    <option value="UCCB">乌鲁木齐银行</option>
                    <option value="WZBK">温州银行</option>
                    <option value="XIANBANK">西安银行</option>
                </select>
                <select class="form-control tc-darkgray" id="settleBankcard" style="float:left;width:40%">
                    <option class="" value="tc-darkgray">请选择结算银行</option>
                </select>
                <div style="clear:both"></div>
            </div>
        </div>

        <!-- 传空 -->
        <input type="hidden" value="" id="settleBankNo"
               name="settleBankNo"/>
        <!--<div class="form-group">
            <label for="settleBankNo" class="col-sm-2 control-label">结算银行编码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="settleBankNo"
                       name="settleBankNo"
                       placeholder="请输入结算银行编码"/>
            </div>
        </div>-->
        <div class="form-group">
            <label for="settleBankcardNo" class="col-sm-2 control-label">结算银行卡号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="settleBankcardNo"
                       th:value="${merchantInfo.settleBankcardNo}"
                       name="settleBankcardNo"
                       placeholder="请输入结算银行卡号"/>
            </div>
        </div>

        <!--<div class="form-group">
            <label for="settleBankcardUserName" class="col-sm-2 control-label">结算卡用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="settleBankcardUserName"
                       th:value="${merchantInfo.settleBankcardUserName}"
                       name="settleBankcardUserName"
                       placeholder="请输入结算银行卡用户姓名"/>
            </div>
        </div>-->

        <div class="form-group">
            <label for="settleBankcardLineNumb" class="col-sm-2 control-label">银行卡联行号</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control tc-darkgray" id="settleBankcardLineNumb"
                       th:value="${merchantInfo.settleBankcardLineNumb}"
                       name="settleBankcardLineNumb"
                       placeholder="请输入结算银行卡联行号"/>
            </div>
        </div>

        <div class="form-group">
            <label for="settleBankcardFinanceAreaCode" class="col-sm-2 control-label">银行卡结算地区码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" readonly id="settleBankcardFinanceAreaCode"
                       th:value="${merchantInfo.settleBankcardFinanceAreaCode}"
                       name="settleBankcardFinanceAreaCode"
                       placeholder="请输入银行卡结算地区码"/>
            </div>
        </div>

        <!--<div class="form-group">
            <label for="settlePhoneNo" class="col-sm-2 control-label">预留手机</label>
            <div class="col-sm-10">
                <input type="text" class="form-control tc-darkgray" id="settlePhoneNo"
                       th:value="${merchantInfo.settlePhoneNo}"
                       name="settlePhoneNo"
                       placeholder="请输入银行卡预留手机"/>
            </div>
        </div>-->

        <!-- 商户交易易结算周期  M 填“1” -->
        <input type="hidden" value="1" name="merchantTxnSettlePeriod">

        <input type="hidden" value="1" name="merchantTxnRate">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a id="checkform" class="btn btn-default">提交至翼支付审核</a>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    /**
     *选择条件下所有银行信息
     **/
    var BANKS;
    $(function () {

        $('#businessTerm').datetimepicker({
            format: 'yyyy-mm-dd',//显示格式
            todayHighlight: 1,//今天高亮
            minView: "month",//设置只显示到月份
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            autoclose: 1//选择后自动关闭
        });

        /**
         * 银行选择事件 下拉监听
         **/
        $("#settleBankName_select").change(function () {
            //赋值给结算银行名称
            $("#settleBankName").val($("#settleBankName_select").find("option:selected").text())
            getBanks();
        })

        /**
         * 银行选择事件 城市监听
         **/
        $("#bank_condition_city").change(function () {
            getBanks();
        })

        /**
         * 结算支行监听
         **/
        $("#settleBankcard").change(function () {
            if (BANKS.length < 1) {
                return;
            }
            var banksIndex = $("#settleBankcard").val();
            var chooseBank;

            for (index in BANKS) {
                if (index == banksIndex) {
                    chooseBank = BANKS[index];
                    break;
                }
            }
            console.log(chooseBank);
            $("#settleBankcardLineNumb").val(chooseBank.bankLineNumber);
            $("#settleBankcardFinanceAreaCode").val(chooseBank.financeAreaCode);
        })

        $("#checkform").on("click", function () {
            var submit = true;
            //修改不需要验证必要值
            /*$("#merchant_info_form input").each(function () {
                var current = $(this);
                if (current.attr("type") == "hidden") {
                    return true;
                }
                if (current.val().length < 1) {
                    alert($(this).attr("placeholder"));
                    submit = false;
                    return false;
                }
            })*/
            if (submit) {
                $("#merchant_info_form").submit();
            }
        })
    })

    var getBanks = function () {
        //情况上次条件下的结果数据
        $("#settleBankcardFinanceAreaCode").val("");
        $("#settleBankcardLineNumb").val("");

        //清空幻读
        $("#settleBankcard").html("<option class=\"\" value=\"tc-darkgray\">请选择结算银行</option>");
        //取银行名称
        var bankName = $("#bank_condition_city").val();
        //取银行编码
        var bankCode = $("#settleBankName_select").val();
        //合法性判断
        var canNext = true;
        if (bankCode.length < 1) {
            canNext = false;
        }
        if (canNext) {
            $.get("getSettleBankInfos", {bankName: bankName, bankCode: bankCode}, function (banksInfo) {
                BANKS = banksInfo;
                buiidBankInfo();
            })
        }
    }

    /**
     * 处理回写数据
     */
    function buiidBankInfo() {
        var banksSelectHtml = "";

        if (BANKS.length == 0) {
            banksSelectHtml += "<option>无</option>"
        } else {
            for (i in BANKS) {
                banksSelectHtml += "<option value='" + i + "'>" + BANKS[i].bankName + "</option>"
            }
        }
        $("#settleBankcard").append(banksSelectHtml);
    }

</script>
<!-- 地区数据 -->
<script>

    var initCity = function (cityCode) {
        $("#_cityCode").val(cityCode);
    }

    //页面加载完成 初始化地区省份数据
    $(function () {

        var provinceCode = "[[${merchantInfo.provinceCode}]]";
        var cityCode = "[[${merchantInfo.cityCode}]]";

        $.get("area/province", function (result) {
            var provinceStr = "";
            for (i in result) {
                provinceStr += "<option class='tc-darkgray' value='" + result[i].provinceCode + "'>" + result[i].provinceName + "</option>>";
            }
            $("#_provinceCode").append(provinceStr);

            if (provinceCode) {
                $("#_provinceCode").val(provinceCode);

                getCity(provinceCode, initCity, cityCode);
            }
        })
        //省份修改事件监听
        $("#_provinceCode").change(function () {
            var provinceCode = $("#_provinceCode").val();
            $("#provinceCode").val(provinceCode);
            getCity(provinceCode);
        })

        //城市修改事件监听
        $("#_cityCode").change(function () {
            var cityCode = $("#_cityCode").val();
            $("#cityCode").val(cityCode);
        })

    })
    //获取城市数据 依据：省份
    var getCity = function (provinceCode, callBack, params) {
        $("#_cityCode").empty();
        $("#_cityCode").append("<option>请选择城市</option>");
        $.get("area/city", {provinceCode: provinceCode}, function (result) {
            var cityStr = "";
            for (i in result) {
                cityStr += "<option class='tc-darkgray' value='" + result[i].cityCode + "'>" + result[i].cityName + "</option>>";
            }

            $("#_cityCode").append(cityStr);
            if (callBack) {
                eval(callBack(params));
            }
        })
    }
</script>
</html>