<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/css/datetimepicker.css"
          rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .tc-darkgray {
            color: darkgray;
        }
    </style>
    <title>资质信息修改</title>
</head>
<body>
<div style="width:80%;margin: 0 auto;border: bisque 1px solid;border-radius:25px; margin-top:10px;">
    <div style="margin-top: 20px;margin-bottom: 15px;">
        <div style="margin: 0 auto;text-align: center;" class="tc-darkgray"><h3>资质信息修改(不需要修改的信息无需提交)</h3></div>
    </div>
    <form class="form-horizontal" role="form" id="merchant_info_form" style="margin: 0 auto" method="post"
          action="update/busiqualificationinfo"
          enctype="multipart/form-data">


        <div class="form-group">
            <label for="_identityCardFrontPic" class="col-sm-2 control-label">身份证正面</label>
            <div class="col-sm-10">
                <input type="file" class="form-control tc-darkgray" id="_identityCardFrontPic"
                       name="_identityCardFrontPic"
                       placeholder="请选择身份证正面图片" accept="image/png,image/jpeg"/>
                <!--<input type="hidden" id="identityCardFrontPic"
                       name="identityCardFrontPic"/>-->
            </div>
        </div>

        <div class="form-group">
            <label for="_identityCardReversePic" class="col-sm-2 control-label">身份证反面</label>
            <div class="col-sm-10">
                <input type="file" class="form-control tc-darkgray" id="_identityCardReversePic"
                       name="_identityCardReversePic"
                       placeholder="请选择身份证反面图片" accept="image/png,image/jpeg"/>
                <!--<input type="hidden" id="identityCardReversePic"
                       name="identityCardReversePic"/>-->
            </div>
        </div>

        <div class="form-group">
            <label for="licenseType" class="col-sm-2 control-label">执照类型</label>
            <div class="col-sm-10">
                <select id="licenseType" name="licenseType" class="form-control">
                    <option class="tc-darkgray" value="">--请选择营业执照类型</option>
                    <option class="tc-darkgray" value="businessLicense">营业执照</option>
                    <option class="tc-darkgray" value="integrateLicense">三证合一照</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="_licensePic" class="col-sm-2 control-label">许可证照片</label>
            <div class="col-sm-10">
                <input type="file" class="form-control tc-darkgray" id="_licensePic"
                       name="_licensePic"
                       placeholder="请选择营业许可证照片" accept="image/png,image/jpeg"/>
                <!--<input type="hidden" id="licensePic"
                       name="licensePic"/>-->
            </div>
        </div>

        <div class="form-group">
            <label for="_storeInteriorPic" class="col-sm-2 control-label">店铺内景</label>
            <div class="col-sm-10">
                <input type="file" class="form-control tc-darkgray" id="_storeInteriorPic"
                       name="_storeInteriorPic"
                       placeholder="请选择店铺内景照片" accept="image/png,image/jpeg"/>
                <!--<input type="hidden" id="storeInteriorPic"
                       name="storeInteriorPic"/>-->
            </div>
        </div>

        <div class="form-group">
            <label for="_storeSignBoardPic" class="col-sm-2 control-label">营业招牌</label>
            <div class="col-sm-10">
                <input type="file" class="form-control tc-darkgray" id="_storeSignBoardPic"
                       name="_storeSignBoardPic"
                       placeholder="请选择营业招牌照片" accept="image/png,image/jpeg"/>
                <!--<input type="hidden" id="storeSignBoardPic"
                       name="storeSignBoardPic"/>-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a id="checkform" class="btn btn-default">提交到翼支付重新审核</a>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $(function () {

        var licenseType = "[[${merchantInfo.licenseType}]]";

        $("#licenseType").val(licenseType);


        $("#checkform").on("click", function () {

            var submit = true;

            if (submit) {
                $("#merchant_info_form").submit();
            }
        })
    })
</script>
</html>